body {
    background-color: black;
    
}
#contenedor{
	height: auto;
    overflow: hidden;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto;
    
}
.Col{
    padding: 1%;
    margin-left: 20px;

}
.LogoHome{
    width: 90%;
    border-radius: 10px;
    border: black solid 3px;
}
